.card-bodyroot {
    gap: 20px;
    max-width: 16rem;
    font-weight: 10px;
    width: 50%;
    line-height: 25px;
    font-family: sans-serif;

}

.card-bodyroot img {
    width: 100%;
    height: 200px;
    padding: 2px;
}

.information-childcontainer {
    /* border: 1px solid green; */
    margin: 1px;
    width: 100%;
    display: flex;

}

.shoes-card {
    margin: 4px;
    /* border: 1px solid black; */
    width: 80%;
    display: flex;
    color: white;
}

.cart-container {
    /* border: 1px solid blue; */
    width: 50%;
    height: 400px;
    margin: 4px;
    overflow-y: scroll;
    overflow-x: hidden;
    font-family: sans-serif;

}

.image {
    width:70px ;
    height: 70px;
    border-radius: 5px;

}
.buttons{
    width: 200px;
    /* border: 2px solid red; */
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-left: 5px;
}
.buttons p{
    /* border: 2px solid red; */
    width: 70px;
    font-size: 25px;
    font-weight: 20px;

}


@media (max-width:786px) {
    .card-container {
        display: flex;
        flex-direction: row;
        width: 90%;
        gap: 10px;
    }
    .buttons{
    width: 200px;
    /* border: 2px solid red; */
    justify-content: space-between;
    align-items: center;
    text-align: center;
    margin-left: 5px;
    }

    .shoes-card img {
        width: 80%;
        height: 200px;
        padding: 0px;
        margin-left: 12px;
        gap: 10px;
        align-items: center;
        text-align: center;
        margin-top: 10px;
    }

    .shoes-card {
        display: wrap;
        flex-direction: column;
        width: 100%;
        gap: 20px;
    }

    .card-bodyroot {
        width: 100%;
        flex: 1 1 calc(33.33% - 100px);
        max-width: 100%;
        padding: 0px;
        gap: 10px;
    }

    .information-childcontainer {
        display: flex;
        flex-direction: column;
        width: 100%;
        justify-content: space-between;
        /* border: 2px solid red; */
        justify-content: center;
        align-items: center;
    }

    .cart-container {
        display: flex;
        flex-direction: column;
        width: 100%;
    }

}